POSTGRES_PASSWORD=
BETTER_AUTH_SECRET=
VITE_APP_URL=https://visitharar.raafat.site
APP_URL=https://visitharar.raafat.site
BETTER_AUTH_URL=https://visitharar.raafat.site
RESEND_API_KEY=
RESEND_FROM_EMAIL=
SUPERADMIN_EMAIL=
SUPERADMIN_PASSWORD=
SUPERADMIN_NAME=Super Admin
